<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザ詳細ページ</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/main.css"> -->
</head>
<body>
    <div class="bg-info clearfix p-4 mb-4 ">
        <div class="container">
        </div>
    </div>

    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">ユーザ詳細ページ</h4>
          </div>

        <div class="row mt-4">
          {{ range.emp }}
          <div class="col-xl-4">
            <h4>ID:{{.Id}}</H4>  
            <h3 class="font-weight-bold">{{.Name}}</h3>
            <p>部署:{{.Dept}}</p>
            <p>年齢:{{.Age}}</p>
            <p>E-mail:{{.Email}}</p>
            <p>電話番号(家){{.Tel}}</p>
            <p>電話番号(携帯){{.Phone}}</p>
            <a href="/" class="btn btn-primary">戻る</a>
          </div>
          {{ end }}
        </div>
      </div>
   </body>
</html>