<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>社員一覧ページ</title>
  </head>
  <body>
    <header>
      <h1>社員一覧</h1>
    </header>
    <div class="wrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ユーザID</th>
            <th>ユーザ名</th>
            <th>部署</th>
            <th>ユーザページ</th>
          </tr>
        </thead>
        <tbody>
          {{ range.emp }}
          <tr>
            <th scope="row">{{ .Id }}</th>
            <td>{{ .Name }}</td>
            <td>{{ .Dept }}</td>
            <td><a href="/detail/{{.Id}}" type="button" class="btn btn-info">詳細</a></td>
          </tr>
          {{ end }}
        </tbody>
        <tbody>
        </tbody>
      </table>
    </div>
  </body>
</html>